<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/portfolio.css') }}"
    />
    <script src="{{ url_for('static', filename='scripts/portfolio.js') }}"></script>
    <title>portfolio</title>
  </head>
  <body>
    <h1 id="Name">David Kim</h1>
    <div class="ed">
      <p>Computer Science and Engineering Major</p>
      <p>University of California, Irvine</p>
    </div>
    <div class="contact-info">
      <div class="image-text">
        <img
          src="{{ url_for('static', filename='images/email.png') }}"
          class="image"
        />
        <p>Email: daviddkim0@gmail.com</p>
      </div>
      <div class="image-text">
        <img
          src="{{ url_for('static', filename='images/phone.png') }}"
          class="image"
        />
        <p>Cell: (714) 606-9972</p>
      </div>
      <div class="image-text">
        <img
          src="{{ url_for('static', filename='images/linkedin.png') }}"
          class="image"
        />
        <p>
          Linkedin:
          <a
            href="https://www.linkedin.com/in/david-kim-152a4724b/"
            target="_blank"
            >linkedin.com/in/david-kim</a
          >
        </p>
      </div>
      <div class="image-text">
        <img
          src="{{ url_for('static', filename='images/github.png') }}"
          class="image"
        />
        <p>
          GitHub:
          <a href="https://github.com/daviddki" target="_blank"
            >github.com/daviddki</a
          >
        </p>
      </div>
    </div>
    <!--<div class="cs-projects">
      <p><a href="projects.html">Fun Side Coding Projects</a></p>
    </div>-->
    <div class="robot-arm">
      <div class="project-name"><u>Robot Arm</u></div>
      <div class="summary">Summary:</div>
      <div class="description"></div>
      <div class="project-images"></div>
      <div class="caption"><p></p></div>
    </div>
  </body>
</html>
