<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projects</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </head>
  <body>
    <h1 id="header">Projects:</h1>
    <a href="{{ url_for('project1') }}" class="names"
      >Project 1: Jewel Game(In Progress)</a
    >
    <button value="light" id="modeButton" onclick="changeMode()">
      Dark Mode
    </button>
    <p id="back"><a href="{{ url_for('index') }}">Back</a></p>
  </body>
</html>
